@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background: linear-gradient(to bottom, #1d003b, #1e1e1e, #1e1e1e);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  overflow-y: scroll; 
  scrollbar-width: thin; 
}

img {
  max-width: 100%;
}

h1,
h2 {
  margin-bottom: 1rem;
  color: #fff;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 69rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.navbar {
  color: #fff;
  height: 4rem;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

.connect-button {
  background: #DC97F9;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  border: 1px solid black;
  padding: 0.3rem 0.5rem;
  border-radius: 0.8rem;
  cursor: pointer;
}

.connect-button:active {
  background: #d00057;
  color: #fdfdfd;
}

.navbar label {
  background: #202428;
  font-size: 1.1rem;
  color: white;
  border: 1px solid black;
  padding: 0.5rem 0.7rem;
  border-radius: 0.8rem;
  margin: 0.2rem;
}

.account-button {
  background: #202428;
  font-size: 1.1rem;
  font: inherit;
  color: white;
  border: 1px solid black;
  padding: 0.5rem 0.7rem;
  border-radius: 0.8rem;
  margin: 0.2rem;
  cursor: pointer;
}

.account-button:active {
  background: #303438;
  color: #fdfdfd;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
  padding: 1rem;;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem;
  margin: 1rem;
  width: 100%;
} 

.card {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 35vh;
  background: #202428;
  color: #fff;
  border-radius: 0.8rem;
  margin: 1.25rem 0.7rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  padding: 1.2rem 2rem;
  overflow: auto;
}

.card button {
  background: #6F04F8;
  color: white;
  font: inherit;
  font-size: 1.2rem;
  border: 1px solid black;
  padding: 0.3rem 0.5rem;
  border-radius: 0.8rem;
  cursor: pointer;
  /* margin: 1rem; */
  width: 100%;
  margin-bottom: 1rem;
}

.card button:active {
  background: #0e61d3;
  color: #fdfdfd;
}

.card form {
  width: 100%;
}

.card input:hover,
.card input:focus {
  outline: 2px solid #383c44;
}

.card label {
  background: #282c34;
  width: 100%;
  border-radius: 0.8rem;
  font-size: 1.3rem;
  color: #f1f1f1;
  padding: 0.2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.card input {
  background: #282c34;
  border: hidden;
  width: 100%;
  border-radius: 0.8rem;
  font-size: 1.3rem;
  color: #f1f1f1;
  padding: 0.4rem 0.5rem;
  margin-bottom: 1rem;
}

footer {
  margin-top: auto;
  justify-content: flex-end;
  padding-bottom: 0.07rem;
  /* font-size: 0.7rem; */
  color: #d4d4d4;
  text-align: center;
  padding: 2rem;
}

footer .container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0.7rem;
}

.user-sec {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  color: #fff;
  margin: 1.25rem 0.7rem;
  padding: 0 3rem;
  text-align: right;
}

.user-div button {
  background: #6F04F8;
  color: white;
  font: inherit;
  font-size: 1.2rem;
  border: 1px solid black;
  padding: 0.3rem 0.5rem;
  border-radius: 20px;
  cursor: pointer;
  margin: 1rem; 
  width: 10rem;
}

.user-div button:hover {
  background: #0e61d3;
  color: #fdfdfd;
}

body::-webkit-scrollbar {
  width: 8px;
  background: linear-gradient(to bottom, #1d003b, #1e1e1e, #1e1e1e);
}

body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  transition: background-color 0.3s; 
}

body::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body::-webkit-scrollbar-track {
  background: transparent;
}

.value-box {
  background-color : transparent;
  padding: 10px;
  border-radius: 4px;
}

.value-item {
  color: white;
  font-weight: bold;
  margin-bottom: 5px;
}




@media only screen and (max-width: 1200px) {
  .card {
    width: 90%;
  }
}
